.cover__subtitle{
        max-width: 360px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.2;
text-align: center;
color: #FFFFFF;
display: flex;
margin: auto;
}

@media (max-width: 1024px) {
        .cover__subtitle{
                min-width: 560px;
                margin: 0;
        padding: 0;
    }
}




@media (max-width: 520px) {
        .cover__subtitle{
                min-width: 250px;
        font-size: 14px;
        line-height: 1.1;
        margin: 0;
        padding: 0;
    }
}
