.header__logo {
    width: 176px;
height: 52px;
    background-size: cover;
    background-image: url(../../../images/header-logo.svg);
  }

  @media (max-width: 405px) {
    .header__logo{
        width: 142px;
        height: 42px;}
}