.place__paragraph {
    max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 24px;
    margin-top: 0;
    padding-left: 40px;
}

@media (max-width: 1024px) {
    .place__paragraph {
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        padding-left: 28px;
        padding-right: 0;
    }
}

@media (max-width: 320px) {
    .place__paragraph {
        max-width: 320px;
        font-size: 16px;
        line-height: 1.6;
        padding-left: 16px;
        padding-right: 16px;
    }
}
