.lead__image {
    margin-bottom: 8px;
    margin-top: 0;
    width: 984px;
    height: 615px;
    margin-bottom: 8px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .lead__image {
        width: 100%;
        height: calc(100% / 1.6);
    }
}

@media (max-width: 768px) {
    .lead__image {
        width: 100%;
        height: calc(100% / 1.6);
    }
}

@media (max-width: 320px) {
    .lead__image {
        width: 320px;
        height: 200px;
    }
}
