.place__link{
    max-width: 456px;
max-height: 22px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.2;
text-decoration-line: underline;
color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}
  }