.cover__background{
  background-image: url(../../../images/cover-trains.jpg);
  height: 740px;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 0.8;
  transition: 0.3s 0s opacity ease-in;
}

@media (max-width: 1024px) {
  .cover__background{
    width: 100%;
        height: 640px;
}


@media (max-width: 768px) {
  .cover__background{
    height: 480px;
}
}



@media (max-width: 320px) {
  .cover__background{
    height: 200px;
}
}

