.place__website {
    grid-area: website;
    align-self: end;
    padding-bottom: 48px;
    padding-left: 40px;
}

@media (max-width: 1024px) {
    .place__website {
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__website {
        padding-left: 28px;
    }
}

@media (max-width: 520px) {
    .place__website {
        display: none;
    }
}
